{% extends 'base.html' %}

{% block title %} Forgot Password {% endblock %}

{% block styles %}
    {{ super() }} <!-- keep base css -->
    <!-- insert customized css for forget password page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='forgotpass.css') }}">
{% endblock %}

{% block body %}
<a href="/login" class="back">< Back</a>
<form action="/forgot_password" method="POST">
    <h1>Forgot Password</h1>
    <div class="container">
        <p>Enter your email below so we can send your reset link.</p>
        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <button type="submit" class="btn generateBtn">Generate Reset Link</button>
    </div>

</form>
{% endblock %}