.back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-decoration: none;
}

.reset-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reset-container h2 {
    align-self: center;
    text-align: center;
    margin-bottom: 1rem;
    font-family: Daydream;
    color: var(--navy);
    font-size: 1.75rem;
}

.reset-container .container{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
    border: 0.5rem solid var(--blue);
    outline: 0.5rem solid var(--gray);
    border-style: ridge;
    border-radius: 10px;
    padding: 2rem;
    background-color: var(--lightgreen);
    
}

.reset-container .container p {
    font-size: 1.2rem;
    color: var(--gray);
    padding-bottom: 10px;
}

.reset-container .container a {
    margin: 1rem;
    overflow-wrap: break-word;
    text-align: center;
}
